body {
  padding-top: 10px;
  padding-bottom: 10px;
}
.row {
  margin-top: 10px;
  margin-bottom: 10px;
}

.btn-mobile-block {
  width: 100%;
}
/* TODO: replace with LESS variable, @screen-sm-min */
@media (min-width: 768px) {
  .btn-mobile-block {
    width: auto;
  }
}
