<div class="modal-header">
  <button ng-click="cancel()" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h3 class="modal-title" >Welcome to Webmaker!</h3>
</div>
<div class="modal-body">
  <form class="form" name="form.user" novalidate>
    <div class="form-group" ng-class="{'has-error': (submit || form.user.username.$dirty) && form.user.username.$invalid }">
      <div class="row">
        <div class="col-sm-6">
          <label>Choose a username</label>
        </div>
        <div class="col-sm-6">
          <input ng-model="user.username" name="username" autocomplete="off" class="form-control" ng-change="checkUsername()" required>
          <span class="help-block" ng-show="form.user.username.$error.taken">Sorry that username is taken</span>
          <span class="help-block" ng-show="(submit || form.user.username.$dirty) && form.user.username.$error.required">You must choose a username</span>
        </div>
      </div>
    </div>
    <div class="checkbox">
      <label>
        <input ng-model="user.mailingList" name="mailingList" type="checkbox"> Send me email updates about Mozilla Webmaker and other projects
      </label>
    </div>
    <div class="checkbox" ng-class="{'has-error': submit && !form.agree }">
      <label>
        <input ng-model="form.agree" name="agree" type="checkbox"> I agree to your <a href="https://webmaker.org/en_US/terms">terms</a> and <a href="https://webmaker.org/en_US/privacy">conditions</a>
        <span class="help-block" ng-show="submit && !form.agree">You must agree to our terms and conditions</span>
      </label>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()">Cancel</button>
  <button ng-click="createUser()" class="create-user btn btn-primary" type="button">Create Account</button>
</div>
