<div class="alert alert-danger" ng-show="addEventForm.$invalid && attemptedToSubmit">Looks like you have some errors...</div>

<form name="addEventForm" role="form" novalidate>

  <header class="page-header">
    <h3>Basics</h3>
  </header>

  <div class="row">

    <div class="col-sm-6">

      <div class="form-group" ng-class="{'has-error': addEventForm.title.$dirty && addEventForm.title.$invalid}">
        <label for="event-title">Name your event <span class="text-danger">*</span></label>
        <input
          ng-model="event.title"
          name="title"
          required
          id="event-title"
          class="form-control"
          placeholder="Use an awesome title so people will come!">
      </div>

      <div class="alert alert-danger" ng-show="attemptedToSubmit && addEventForm.eventName.$invalid">Required!</div>

      <div class="form-group" ng-class="{'has-error': addEventForm.description.$dirty && addEventForm.description.$invalid}">
        <label for="event-description">Describe your event <span class="text-danger">*</span></label>
        <textarea ng-model="event.description" name="description" required class="form-control" rows="3" id="event-description" placeholder="Tell people a few more details about your event. What can they expect?"></textarea>
      </div>

      <div class="alert alert-danger" ng-show="attemptedToSubmit && addEventForm.description.$invalid">Required!</div>
    </div>

    <div class="col-sm-6">

      <div class="form-group">
        <div class="form-group">
          <label for="event-registration-page">Event Link</label>
          <input ng-model="event.registerLink" name="registerLink" class="form-control" id="event-registration-page" type="url" placeholder="Link to registration page" />
        </div>

        <div class="alert alert-danger" ng-show="addEventForm.registerLink.$dirty && addEventForm.registerLink.$invalid">Must use format <strong>http://example.com</strong> or <strong>https://example.com</strong></div>
      </div>

      <div class="form-group">
        <label for="event-attendees">How many attendees are you expecting?</label>
        <select ng-model="event.attendees" class="form-control" id="event-attendees" name="attendees">
          <option value="0">I'm not sure</option>
          <option value="5">Under 10</option>
          <option value="15">10 - 20</option>
          <option value="35">20 - 50</option>
          <option value="75">50 - 100</option>
          <option value="150">100 - 200</option>
          <option value="350">200 - 500</option>
          <option value="500">500 +</option>
        </select>
      </div>

    </div>

  </div>

  <header class="page-header">
    <h3>When and where?</h3>
  </header>

  <div class="form-group" ng-class="{'has-error': addEventForm.address.$dirty && addEventForm.address.$invalid}">
    <label for="form-address">Event location <span class="text-danger">*</span></label>
    <input id="form-address" ng-model="event.address" name="address" required class="form-control" type="text" placeholder="Enter a location" autocomplete="off"></input>
  </div>

  <div class="alert alert-danger" ng-show="attemptedToSubmit && addEventForm.address.$invalid">Required!</div>

  <div class="row">

    <div class="col-sm-6">
      <div class="form-group">
        <label for="event-start-date">Start Date and Time <span class="text-danger">*</span></label>
        <input ng-model="event.beginDate" name="beginDate" required class="form-control" id="event-start-date" type="text" placeholder="e.g. March 20th at 2pm"/>
      </div>
      <div class="add-bottom-margin">
        <em ng-show="event.isValidStartDate">{{ event.humanParsedDate }}</em>
        <div class="alert alert-danger" ng-show="attemptedToSubmit && addEventForm.beginDate.$invalid">Required!</div>
        <div class="alert alert-danger" ng-show="attemptedToSubmit && !event.isValidStartDate">Invalid date format!</div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="form-group">
        <label for="event-duration">How Long? <span class="text-danger">*</span></label>
        <select ng-model="event.duration" required class="form-control" id="event-duration" name="duration">
          <option value="unknown">I'm not sure</option>
          <option value="0.5">Half an hour</option>
          <option value="1">1 hour</option>
          <option value="1.5">1.5 hours</option>
          <option value="2">2 hours</option>
          <option value="2.5">2.5 hours</option>
          <option value="3">3 hours</option>
          <!-- TODO: Maybe reveal a new end date + time input if someone selects over 3 hrs -->
          <option value="unknown">Over 3 hours</option>
        </select>
      </div>
    </div>

  </div>

  <header class="page-header">
    <h3>About you</h3>
  </header>

  <div class="form-group">
    <label for="email">Administrator's Email</label>
    <div class="row">
      <div class="col-sm-6">
        <input ng-model="event.organizer" name="organizer" class="form-control" type="email" readonly required>
      </div>
      <div class="col-sm-6">
        <button class="btn btn-default" ng-click="login()">Log in with a different email</button>
      </div>
    </div>
    <p class="help-block">
      <span class="fa fa-lock"></span> You must log in with this email to edit this event.
    </p>
  </div>


  <!-- Submit Button -->
  <div class="form-group" ng-transclude></div>

</form>
