<div class="alert alert-danger" ng-show="addEventForm.$invalid && attemptedToSubmit">{{ '_some_errors_' | i18n }}</div>

<form name="addEventForm" role="form" novalidate>

  <header class="page-header">
    <h3>{{ '_basics_' | i18n }}</h3>
  </header>

  <div class="row">

    <div class="col-sm-6">

      <div class="form-group" ng-class="{'has-error': addEventForm.title.$dirty && addEventForm.title.$invalid}">
        <label for="event-title">{{ '_name_your_event_' | i18n }} <span class="text-danger">*</span></label>
        <input ng-model="event.title" name="title" required id="event-title" class="form-control" placeholder="{{ '_great_title_name_' | i18n }}">
      </div>

      <div class="alert alert-danger" ng-show="attemptedToSubmit && addEventForm.eventName.$invalid">{{ '_required_' | i18n }}</div>

      <div class="form-group" ng-class="{'has-error': addEventForm.description.$dirty && addEventForm.description.$invalid}">
        <label for="event-description">{{ '_describe_your_event_' | i18n }} <span class="text-danger">*</span></label>
        <textarea ng-model="event.description" name="description" required class="form-control" rows="3" id="event-description" placeholder="{{ '_describe_placeholder_' | i18n }}"></textarea>
      </div>

      <div class="alert alert-danger" ng-show="attemptedToSubmit && addEventForm.description.$invalid">{{ '_required_' | i18n }}</div>
    </div>

    <div class="col-sm-6">

      <div class="form-group">
        <label for="event-attendees">{{ '_event_attendees_' | i18n }} <span class="text-danger">*</span></label>
        <select ng-model="event.attendees" class="form-control" id="event-attendees" name="attendees">
          <option value="5">{{ '_under_ten_' | i18n }}</option>
          <option value="15">10 - 20</option>
          <option value="35">20 - 50</option>
          <option value="75">50 - 100</option>
          <option value="150">100 - 200</option>
          <option value="350">200 - 500</option>
          <option value="500">500 +</option>
        </select>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="skill-level">{{ '_skill_level_' | i18n }}</label>
            <select ng-model="event.skillLevel" class="form-control" id="skill-level" name="skillLevel">
              <option value="">{{ '_any_skill_level_' | i18n }}</option>
              <option value="beginner">{{ '_beginner_' | i18n }}</option>
              <option value="intermediate">{{ '_intermediate_' | i18n }}</option>
              <option value="advanced">{{ '_advanced_' | i18n }}</option>
            </select>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="form-group">
            <label for="age-group">{{ '_age_group_' | i18n }}</label>
            <select ng-model="event.ageGroup" class="form-control" id="age-group" name="ageGroup">
              <option value="">{{ '_any_age_group_' | i18n }}</option>
              <option value="kids">{{ '_kids_' | i18n }}</option>
              <option value="youth">{{ '_youth_' | i18n }}</option>
              <option value="adults">{{ '_adults_' | i18n }}</option>
            </select>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="form-group">
          <label for="event-registration-page">{{ '_event_link_' | i18n }}</label>
          <input ng-model="event.registerLink" name="registerLink" class="form-control" id="event-registration-page" type="url" placeholder="Link to registration page." />
          <p><small>{{ '_event_link_explain_' | i18n }}</small></p>
        </div>

        <div class="alert alert-danger" ng-show="addEventForm.registerLink.$dirty && addEventForm.registerLink.$invalid" ng-bind-html="'_link_event_error_message_' | i18n "></div>
      </div>

    </div>

  </div>

  <header class="page-header">
    <h3>{{ '_when_where_' | i18n }}</h3>
  </header>

  <div class="form-group" ng-class="{'has-error': addEventForm.address.$dirty && addEventForm.address.$invalid}">
    <label for="form-address">{{ '_event_location_' | i18n }} <span class="text-danger">*</span></label>
    <input autocomplete-location id="form-address" ng-model="event.address" name="address" required class="form-control" type="text" placeholder="{{ '_enter_an_address_' | i18n }}" autocomplete="off"></input>
  </div>

  <div class="alert alert-danger" ng-show="attemptedToSubmit && addEventForm.address.$invalid">{{ '_required_' | i18n }}</div>

  <div class="row add-bottom-margin">

    <div class="col-sm-6">
      <div class="form-group">
        <label for="event-start-date">{{ '_start_date_and_time_' | i18n }} <span class="text-danger">*</span></label>
        <input ng-model="event.beginDate" name="beginDate" required class="form-control" id="event-start-date" type="text" placeholder="e.g. March 20th at 2pm." />
      </div>
      <div class="add-bottom-margin">
        <em ng-show="event.isValidStartDate">{{ event.humanParsedDate }}</em>
        <div class="alert alert-danger" ng-show="attemptedToSubmit && addEventForm.beginDate.$invalid">{{ '_required_' | i18n }}</div>
        <div class="alert alert-danger" ng-show="attemptedToSubmit && !event.isValidStartDate">{{ '_invalid_date_format_' | i18n }}</div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="form-group">
        <label for="event-duration">{{ '_how_long_' | i18n }} <span class="text-danger">*</span></label>
        <select ng-model="event.duration" required class="form-control" id="event-duration" name="duration">
          <option value="unknown">{{ '_i_am_not_sure_' | i18n }}</option>
          <option value="0.5">{{ '_half_an_hour_' | i18n }}</option>
          <option value="1">{{ '_one_hour_' | i18n }}</option>
          <option value="1.5">{{ '_one_and_half_hour_' | i18n }}</option>
          <option value="2">{{ '_two_hours_' | i18n }}</option>
          <option value="2.5">{{ '_two_and_half_hours_' | i18n }}</option>
          <option value="3">{{ '_three_hours_' | i18n }}</option>
          <!-- TODO: Maybe reveal a new end date + time input if someone selects over 3 hrs -->
          <option value="unknown">{{ '_over_three_hours_' | i18n }}</option>
        </select>
      </div>
    </div>

  </div>

  <div class="form-group add-double-bottom-margin">

    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="organizer-email">{{ '_event_organizer_email_' | i18n }}</label>
          <input we-readonly="!_user.isAdmin" id="organizer-email" ng-model="event.organizer" name="organizer" class="form-control" type="email" required>
        </div>

        <div class="alert alert-danger" ng-show="attemptedToSubmit && addEventForm.organizer.$invalid">{{ '_required_' | i18n }}</div>
      </div>

      <div class="col-sm-6" ng-show="_user.isAdmin">
        <div class="form-group">
          <label for="organizer-email">{{ '_event_organizer_username_' | i18n }}</label>
          <input id="organizer-id" ng-model="event.organizerId" name="organizerId" class="form-control" type="text" required>
        </div>

        <div class="alert alert-danger" ng-show="attemptedToSubmit && addEventForm.organizerId.$invalid">{{ '_required_' | i18n }}</div>
      </div>
    </div>
    <p class="help-block" ng-hide="_user.isAdmin">
      <span class="fa fa-lock"></span> <a href="#" ng-click="login()" ng-bind-html="'_login_with_different_email_' | i18n"></a>
    </p>
  </div>

  <!-- Submit Button -->
  <div class="form-group" ng-transclude></div>

</form>
