<!doctype html>
<html lang="en" ng-app="myApp">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <meta charset="utf-8">
  <title>Webmaker Events</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css"/>
  <link rel="stylesheet" href="compiled/app.min.css"/>
</head>
<body>

  <nav class="navbar navbar-default" ng-controller="navController">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" ng-click="isCollapsed = !isCollapsed">
          <span class="sr-only">Toggle navigation</span>
          <span class="fa fa-bars fa-lg text-muted"></span>
        </button>
        <a class="navbar-brand" href="#">Webmaker Events</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="navbar-collapse" collapse="isCollapsed">
        <ul class="nav navbar-nav">
          <li ng-class="{ active : isActive('/events') }"><a href="#/events">Upcoming Events</a></li>
          <li ng-class="{ active : isActive('/add') }"><a href="#/add">Add Event</a></li>
        </ul>

        <button ng-cloak ng-show="!_persona.email" class="btn btn-primary btn-sm navbar-btn" ng-click="_persona.login()">Log In</button>
        <p ng-cloak class="navbar-text" ng-show="_persona.email">
          Hi, <strong>{{_persona.email}}</strong>
        </p>

        <button ng-cloak class="btn btn-primary btn-sm navbar-btn" ng-show="_persona.email" ng-click="_persona.logout()">Log Out</button>
      </div>
    </div>
  </nav>

  <div class="container" ng-view></div>

  <script src="https://login.persona.org/include.js"></script>
  <script src="bower_components/momentjs/min/moment.min.js"></script>
  <script src="bower_components/chrono/chrono.min.js"></script>
  <script src="bower_components/showdown/compressed/showdown.js"></script>

  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap.js"></script>

  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
</body>
</html>
