<!doctype html>
<html lang="{{lang}}" dir="{{direction}}" ng-app="myApp" ng-csp>
<head>
  <meta name="fragment" content="!">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

  <meta charset="utf-8">

  <meta property="og:image" content="https://events.webmaker.org/img/wm-mark.png">
  <meta property="og:site_name" content="Webmaker Events">
  <meta property="og:type" content="website">

  <title ng-bind="'_webmaker_events_' | i18n"></title>

  <link rel="icon" type="image/png" href="img/favicon.ico">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700">
  <style>
    html, body {
      display: none;
    }
  </style>
  <link rel="stylesheet" ng-href="compiled/app.{{direction}}%_EXTENSIONS_%.css">
</head>
<body>

  <div ng-controller="createUserController"></div>
  <div ng-controller="navController">

    <nav class="navbar navbar-default navbar-webmaker">
      <div class="container">

        <div class="navbar-header">
          <button type="button" class="navbar-toggle" ng-click="isCollapsed = !isCollapsed">
            <span class="sr-only">{{ '_toggle_navigation_' | i18n }}</span>
            <span class="fa fa-bars fa-lg"></span>
          </button>
          <a href="{{webmakerUrl}}/{{lang}}" class="logo webmaker-logo"><img src="https://webmaker.org/img/logo.png"><span class="sr-only">{{ '_go_to_wm_' | i18n }}</span></a>
        </div>

        <div class="navbar-collapse collapse" collapse="isCollapsed">
          <form class="navbar-form navbar-right navbar-last-item" logged-out-only>
            <button ng-cloak ng-show="!_user.email" class="btn btn-primary" ng-click="login()">{{ '_log_in_' | i18n}}</button>
          </form>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown" ng-cloak ng-show="_user.email">
              <a href="#" class="navbar-user-info dropdown-toggle">
                <span class="sr-only">{{ '_user_links_drop_' | i18n }}</span>
                <img class="user-info-avatar" ng-src="{{_user.avatar}}"> {{ '_hi_' | i18n }} <strong>{{_user.username}}</strong> <span class="label label-primary" ng-show="_user.isAdmin">{{ '_admin_' | i18n }}</span> <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><a href="{{webmakerUrl}}/user/{{_user.username}}"><span class="fa fa-user"></span> {{ '_my_profile_' | i18n }}</a></li>
                <li><a href="#!/user/{{_user.username}}"><span class="fa fa-flag"></span> {{ '_my_events_' | i18n }}</a></li>
                <li><a href="{{myMakesUrl}}" target="_blank"><span class="fa fa-th-large"></span> {{ '_my_makes_' | i18n }}</a></li>
                <li><a href="{{accountSettingsUrl}}" target="_blank"><span class="fa fa-cog"></span> {{ '_settings_' | i18n }}</a></li>
                <li class="divider"></li>
                <li><a href="#" ng-click="logout()"><span class="fa fa-sign-out"></span> {{ '_log_out_' | i18n }}</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <nav class="navbar navbar-inverse navbar-no-header-xs">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="{{webmakerUrl}}/{{lang}}" tooltip="{{ '_back_to_webmaker_' | i18n }}" tooltip-placement="bottom">
            <span class="fa fa-reply"></span><span class="sr-only">{{ '_go_to_wm_' | i18n }}</span>
          </a>
        </div>
        <div class="navbar-collapse" collapse="isCollapsed">
          <ul class="nav navbar-nav">
            <li ng-class="{ active : isActive('/') }"><a href="#!" ng-cloak>{{ '_events_' | i18n }}</a></li>
            <li ng-class="{ active : isActive('/events') }"><a href="#!/events" ng-cloak>{{ '_upcoming_events_' | i18n }}</a></li>
            <li ng-class="{ active : isActive('/add') }"><a href="#!/add" ng-cloak>{{ '_add_events_' | i18n }}</a></li>
            <li ng-class="{ active : isActive('/event-guides') }"><a href="#!/event-guides" ng-cloak>{{ '_event_guides_' | i18n }}</a></li>
          </ul>
        </div>

      </div>
    </nav>
  </div>

  <div class="view-animate" role="main" ng-view></div>

  <script src="config.js"></script>
  <script src="https://login.persona.org/include.js"></script>
  <script src="compiled/app.min.js"></script>

  <script id="google-analytics-js" src="js/lib/google-analytics.js"
          data-ga-account="{{ ga_account }}"
          data-ga-domain="{{ ga_domain }}"
          async>
  </script>

  %_LIVE_RELOAD_%

</body>
</html>
