<div class="event-detail">
  <div class="multicolor-header color-{{ eventData.competencyID }}">
    <header class="container">
      <a ng-show="_user.email === eventData.organizer || _user.isAdmin" class="btn btn-secondary" href="#!/edit/{{ eventID }}"><span class="fa fa-pencil"></span><span class="sr-only">{{ '_edit_event_' | i18n }}</span></a>
      <h1>{{ eventData.title }}</h1>
    </header>
  </div>

  <div class="meta-header">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <div class="icon-left">
            <span class="fa fa-calendar-o"></span>
            <h4>{{ eventData.friendlyStartDate }}</h4>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6">
          <div class="icon-left">
            <span class="fa fa-map-marker"></span>
            <h4>{{ eventData.address }} <a href="https://maps.google.com/?q={{ eventData.address | uriEncode }}" target="_blank">({{ '_map_' | i18n }})<span class="sr-only">{{ '_link_to_map_' | i18n }}</span></a></h4>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4 add-bottom-margin">
        <a ng-show="eventData.registerLink" class="btn btn-primary btn-lg btn-mb-block" href="{{ eventData.registerLink }}" target="_blank">{{ '_attend_this_event_' | i18n }}</a>
        <div class="organized-by">
          <a href="#!/user/{{ eventData.organizerId }}">
            <img class="user-info-avatar" ng-src="{{ eventData.organizerAvatar }}">
          </a>

          <div>
            {{ '_organized_by_' | i18n }}<br>
            <a href="#!/user/{{ eventData.organizerId }}">
              <span class="sr-only">{{ '_link_to_profile_' | i18n }}</span>
              <strong>{{ eventData.organizerId || eventData.organizer }}</strong>
            </a>
          </div>
        </div>
        <div>
          <p>{{ '_who_is_this_for_' | i18n }}</p>
          <h4 class="text-title-case"><span class="fa fa-star fa-fw text-muted"></span> {{ transformToLocalizationKeyStyle( eventData.skillLevel ) || '_any_skill_' | i18n }} {{ '_level_' | i18n }}</h4>
          <h4 class="text-title-case"><span class="fa fa-male fa-fw text-muted"></span> {{ transformToLocalizationKeyStyle( eventData.ageGroup ) || '_any_age_group_' | i18n }}</h4>
        </div>
      </div>

      <div class="col-xs-12 col-sm-8 event-detail-description" ng-bind-html="eventData.description | markdown"></div>
    </div>
  </div>
</div>
