<header class="row">
  <div class="col-xs-12">
    <h1>{{ eventData.title }}</h1>
  </div>
</header>

<div ng-show="eventData.picture" class="row">
  <div class="col-xs-12">
    <img class="img-responsive" src="{{ eventData.picture }}" title="Event Image" />
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-8">
    <!-- TODO: Link to actual location on google maps -->
    <strong><a href="https://maps.google.com/" target="_blank">{{ eventData.address }}</a></strong>
  </div>

  <div class="col-xs-12 col-sm-4">
    {{ eventData.friendlyStartDate }}
  </div>
</div>

<div class="row">
  <div ng-bind-html="eventData.description | markdown" class="col-xs-12"></div>
</div>

<div class="row">
  <div class="col-xs-12">
    Organizer: <a href="mailto:{{ eventData.organizer }}">{{ eventData.organizer }}</a>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <a class="btn btn-primary" href="#/edit/{{ eventID }}">Edit Event</a>
  </div>
</div>
