<div class="container" id="event-guides">
  <header class="page-header">
    <h1>Want to make the web with others?</h1>
    <p class="lead">We've got guides to help you plan. What are you in the mood to try?</p>
  </header>

  <div class="event-types row add-double-bottom-margin">
    <div class="col-sm-4">
      <h3 class="brand-primary with-icon">
        <img src="/img/1-person.png">
        <span>Kitchen Party</span>
      </h3>

      <ul class="list list-inset add-double-bottom-margin">
        <li>Spend an hour on a rainy day</li>
        <li>Hang out as a family on the computer</li>
        <li>Learn to hack with a friend</li>
        <li>Make cool things on the web</li>
      </ul>

      <h4>Start Planning</h4>

      <ul class="list list-inset add-double-bottom-margin">
        <li>1-5 friends or family members</li>
        <li>15 minutes - 1 hour, No preparation needed</li>
        <li>At home, in a cafe or at the library</li>
      </ul>

      <a class="btn btn-primary btn-block" href="https://mozteach.makes.org/thimble/how-to-host-a-kitchen-party" target="_blank">Kitchen Party Planning Guide</a>
    </div>

    <div class="col-sm-4">
      <h3 class="brand-primary with-icon">
        <img src="/img/3-people.png">
        <span>Hack Jam</span>
      </h3>

      <ul class="list list-inset add-double-bottom-margin">
        <li>Team up people with different skill-sets to explore an interesting challenge</li>
        <li>Collaboratively build something new or improve something that already exists</li>
        <li>Learn and teach new hacking skills</li>
      </ul>

      <h4>Start Planning</h4>

      <ul class="list list-inset add-double-bottom-margin">
        <li>10 - 50 participants</li>
        <li>4 hours or longer, 2 weeks of preparation needed</li>
        <li>At a school, library or flexible space</li>
      </ul>

      <a class="btn btn-primary btn-block" href="#" target="_blank">Hack Jam Planning Guide</a>
    </div>

    <div class="col-sm-4">
      <h3 class="brand-primary with-icon">
        <img src="/img/6-people.png">
        <span>Hive Pop-Up</span>
      </h3>

      <ul class="list list-inset add-double-bottom-margin">
        <li>Bring together local organizations in a science fair setting</li>
        <li>Demonstrate cool web ideas</li>
        <li>Provide fun hands-on activities</li>
        <li>Introduce your community to hacking</li>
      </ul>

      <h4>Start Planning</h4>

      <ul class="list list-inset add-double-bottom-margin">
        <li>2-10 participating organizations</li>
        <li>4 hours or longer, 2-4 weeks of preparation needed</li>
        <li>In an open space like a community center, library or school</li>
      </ul>

      <a class="btn btn-primary btn-block" href="#" target="_blank">Hive Pop-Up Planning Guide</a>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <h1>Planning an event? Let us help!</h1>

      <p>This section provides an overview of important links and to-dos for your event. Don't forget to order <strong>free</strong> Webmaker gear for your party.</p>

      <h2>Overview for Party Organizers</h2>

      <ul class="angle-list">
        <li>
          <h3>
            <a target="_blank" href="https://wiki.mozilla.org/Maker_Party/Get_involved">Start here</a>
          </h3>
          <p>Begin by reading our <a href="https://wiki.mozilla.org/Maker_Party/Get_involved">Get Involved wiki</a>.</p>
        </li>
        <li>
          <h3>
            <a target="_blank" href="/en-US/events">Add your event to the map</a>
          </h3>
          <p>Add your event to our global <a href="/en-US/events">event map</a>.</p>
        </li>
        <li>
          <h3>
            <a target="_blank" href="https://intlstore.mozilla.org/makerparty/">Order gear</a>
          </h3>
          <p>Place your gear <a target="_blank" href="https://intlstore.mozilla.org/makerparty/">order</a> to receive t-shirts, stickers and banners.</p>
        </li>
        <li>
          <h3>
            <a target="_blank" href="https://mozteach.makes.org/thimble/what-i-made-maker-party">Share what you make</a>
          </h3>
          <p>During your event, ask participants to share what they make using <a href="https://mozteach.makes.org/thimble/what-i-made-maker-party">this template</a>.</p>
        </li>
        <li>
          <h3>
            <a href="mailto:makerparty@mozilla.org">Take photos</a>
          </h3>
          <p>We love photos! Share pictures of your event by <a href="mailto:makerparty@mozilla.org">emailing us</a>.</p>
        </li>
        <li>
          <h3>
            <a target="_blank" href="https://mozteach.makes.org/thimble/maker-party-report">Report back</a>
          </h3>
          <p>Tell us how your event went by remixing this <a target="_blank" href="https://mozteach.makes.org/thimble/maker-party-report">report-back template</a>.</p>
        </li>
        <li>
          <h3>
            <a target="_blank" href="https://wiki.mozilla.org/Maker_Party/FAQs">FAQ</a>
          </h3>
          <p>Have questions? Check <a target="_blank" href="https://wiki.mozilla.org/Maker_Party/FAQs">here</a> first.</p>
        </li>
        <li>
          <h3>
            <a href="mailto:makerparty@mozilla.org">Contact Us</a>
          </h3>
          <p>Still have questions? Email us at <a href="mailto:makerparty@mozilla.org">makerparty@mozilla.org</a></p>
        </li>
      </ul>

    </div>
  </div>

</div>
