<div class="container" id="event-guides">
  <header class="page-header">
    <h1>{{ '_make_with_others_' | i18n }}</h1>
    <p class="lead">{{ '_eg_lead_' | i18n }}</p>
  </header>

  <div class="event-types row add-double-bottom-margin">
    <div class="col-sm-4">
      <h3 class="brand-primary with-icon">
        <img src="/img/1-person.png">
        <span>{{ '_kitchen_party_' | i18n }}</span>
      </h3>

      <ul class="list list-inset add-double-bottom-margin">
        <li>{{ '_spend_an_hour_' | i18n }}</li>
        <li>{{ '_hang_out_' | i18n }}</li>
        <li>{{ '_learn_to_hack_' | i18n }}</li>
        <li>{{ '_make_cool_' | i18n }}</li>
      </ul>

      <h4>{{ '_start_planning_' | i18n }}</h4>

      <ul class="list list-inset add-double-bottom-margin">
        <li>{{ '_eg_plan1_' | i18n }}</li>
        <li>{{ '_eg_plan2_' | i18n }}</li>
        <li>{{ '_eg_plan3_' | i18n }}</li>
      </ul>

      <a class="btn btn-primary btn-block" href="https://mozteach.makes.org/thimble/how-to-host-a-kitchen-party" target="_blank">{{ '_kp_guide_btn_' | i18n }}</a>
    </div>

    <div class="col-sm-4">
      <h3 class="brand-primary with-icon">
        <img src="/img/3-people.png">
        <span>{{ '_eg_hack_' | i18n }}</span>
      </h3>

      <ul class="list list-inset add-double-bottom-margin">
        <li>{{ '_eg_hj_1_' | i18n }}</li>
        <li>{{ '_eg_hj_2_' | i18n }}</li>
        <li>{{ '_eg_hj_3_' | i18n }}</li>
      </ul>

      <h4>{{ '_start_planning_' | i18n }}</h4>

      <ul class="list list-inset add-double-bottom-margin">
        <li>{{ '_eg_sp_1_' | i18n }}</li>
        <li>{{ '_eg_sp_2_' | i18n }}</li>
        <li>{{ '_eg_sp_3_' | i18n }}</li>
      </ul>

      <a class="btn btn-primary btn-block" href="https://mozteach.makes.org/thimble/how-to-host-a-hack-jam" target="_blank">{{ '_eg_hj_plan_' | i18n }}</a>
    </div>

    <div class="col-sm-4">
      <h3 class="brand-primary with-icon">
        <img src="/img/6-people.png">
        <span>{{ '_eg_hivepop_' | i18n }}</span>
      </h3>

      <ul class="list list-inset add-double-bottom-margin">
        <li>{{ '_eg_hpu1_' | i18n }}</li>
        <li>{{ '_eg_hpu2_' | i18n }}</li>
        <li>{{ '_eg_hpu3_' | i18n }}</li>
        <li>{{ '_eg_hpu4_' | i18n }}</li>
      </ul>

      <h4>{{ '_start_planning_' | i18n }}</h4>

      <ul class="list list-inset add-double-bottom-margin">
        <li>{{ '_eg_hpusp1_' | i18n }}</li>
        <li>{{ '_eg_hpusp2_' | i18n }}</li>
        <li>{{ '_eg_hpusp3_' | i18n }}</li>
      </ul>

      <a class="btn btn-primary btn-block" href="https://mozteach.makes.org/thimble/how-to-host-a-hive-pop-up" target="_blank">{{ '_eg_hpu_pg_' | i18n }}</a>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <h1>{{ '_eg_peh_' | i18n }}</h1>

      <p ng-bind-html="'_eg_overviewintro_' | i18n "></p>

      <h2>{{ '_eg_overviewpo_' | i18n }}</h2>

      <ul class="angle-list">
        <li>
          <h3>
            <a target="_blank" href="https://wiki.mozilla.org/Maker_Party/Get_involved">{{ '_eg_start_here_' | i18n }}</a>
          </h3>
          <p ng-bind-html="'_eg_beginbyread_' | i18n "></p>
        </li>
        <li>
          <h3>
            <a target="_blank" href="https://intlstore.mozilla.org/makerparty/">{{ '_eg_ordergear_' | i18n }}</a>
          </h3>
          <p ng-bind-html="'_eg_placeorder_' | i18n "></p>
        </li>
        <li>
          <h3>
            <a target="_blank" href="https://mozteach.makes.org/thimble/what-i-made-maker-party">{{ '_eg_sharemake_' | i18n }}</a>
          </h3>
          <p ng-bind-html="'_eg_sharemore_' | i18n "></p>
        </li>
        <li>
          <h3>
            <a href="mailto:makerparty@mozilla.org">{{ '_eg_tp_' | i18n }}</a>
          </h3>
          <p ng-bind-html="'_eg_sharepics_' | i18n "></p>
        </li>
        <li>
          <h3>
            <a target="_blank" href="https://mozteach.makes.org/thimble/maker-party-report">{{ '_eg_rb_' | i18n }}</a>
          </h3>
          <p ng-bind-html="'_eg_tellhow_' | i18n "></p>
        </li>
        <li>
          <h3>
            <a target="_blank" href="https://wiki.mozilla.org/Maker_Party/FAQs">{{ '_eg_faq_' | i18n }}</a>
          </h3>
          <p ng-bind-html="'_eg_haveq_' | i18n "></p>
        </li>
        <li>
          <h3>
            <a href="mailto:makerparty@mozilla.org">{{ '_eg_cu_' | i18n }}</a>
          </h3>
          <p ng-bind-html="'_eg_mailus_' | i18n "></p>
        </li>
      </ul>

    </div>
  </div>

</div>
