<div class="container home-section">
  <div class="row">
    <div class="col-md-7 col-sm-12">
      <h1 class="home">{{ '_join_webmakers_home_' | i18n }}</h1>
      <p>
        <a href="/#events" class="btn-home btn btn-lg btn-primary btn-mobile-block"><span class="fa fa-search"></span> {{ '_find_an_event_' | i18n }}</a>
        <a href="/#add" class="btn-home btn btn-lg btn-primary btn-mobile-block"><span class="fa fa-plus"></span> {{ '_add_an_event_' | i18n }}</a>
      </p>
    </div>
    <div class="col-md-5 hidden-sm hidden-xs">
      <div class="viz-container">
        <div>
          <div class="viz viz-people">
            <span class="viz-number">14,986</span>
            <span class="viz-label"><span class="fa fa-group"></span> {{ '_people_' | i18n }}</span>
          </div>
        </div>
        <div>
          <div class="viz viz-events">
            <span class="viz-number">8,729</span>
            <span class="viz-label"><span class="fa fa-map-marker"></span> {{ '_events_' | i18n }}</span>
          </div>
          <div class="viz viz-cities">
            <span class="viz-number">125</span>
            <span class="viz-label"><span class="fa fa-map-marker"></span> {{ '_cities_' | i18n }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="home-image hidden-xs">
  <div class="container">
   <a href="http://www.flickr.com/photos/flore_frmoz/10714446776" class="home-caption" target="_blank"><span class="fa fa-camera"></span> Flore Florumundo</a>
  </div>
</div>

<div class="container home-section">
  <h2 class="home">
    {{ '_upcoming_events_' | i18n }}
    <span class="small pull-right">
      <a href="/#events">{{ '_all_events_' | i18n }} <span class="fa fa-angle-right"></span></a>
    </span>
  </h2>

  <ul class="listing-home list-unstyled">
    <li ng-repeat="event in events">
      <a href="#/events/{{event.id}}">
        <div class="circle-date">
          <span>{{event.beginDate | date:'MMM d'}}</span>
        </div>
        <div class="title">{{event.title}} <small>({{event.address}})</small></div>
      </a>
    </li>
  </ul>
</div>

<footer class="home home-section">
  <div class="container">
    <img class="shirt" src="/img/shirt.png">
    <div>
      <h3>{{ '_gear_for_your_event_' | i18n }}</h3>
      <p ng-bind-html="'_get_more_tips_' | i18n"></p>
    </div>
  </div>
</footer>
