.event-detail {
  header {
    background-color: @brand-info;
    color: @white;
    padding-top: 3em;
    margin-top: -20px;
  }

  h5 {
    line-height: 1.66em;
  }

  .button-group a {
    margin-bottom: 0.5em;
  }
}
